@import "variables";
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}


/* h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    padding: 0;
}
 */

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.p-0 {
    padding: 0;
}

.m-0 {
    margin: 0;
}

.container {
    width: 1200px;
    margin: auto;
}

.container-fluid {
    width: 100%;
}

//grid start
.row {
    display: flex;
    flex-wrap: wrap;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 0px 15px 0px 15px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

//grid end
.text-center {
    text-align: center;
}

.d-flex {
    display: flex;
}

.d-grid {
    display: grid;
}

.d-inline {
    display: inline-block;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.btn {
    background-color: $btn-background-clr;
    font-weight: $font-weight-third;
    font-family: $font-family-lato;
    font-size: $font-size-primary;
    color: $font-third-clr
}

.ml-3 {
    margin-left: 30px;
}

//posotion
.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.customer {
    width: 227px;
    height: 61px;
    bottom: 37px;
    img {
        width: 56px;
        height: 56px;
    }
    .ml-16 {
        margin-left: 16px;
    }
    .customer-info {
        font-family: $font-family-lato;
        line-height: 26px;
        color: $font-third-clr;
        p {
            font-size: $font-size-secondry;
            font-weight: $font-weight-third;
            margin: 0;
        }
        span {
            font-size: $font-size-primary;
            font-weight: $font-weight-primary;
        }
    }
}

.info-txt {
    span {
        font-family: $font-family-lato;
        font-size: $font-size-third;
        line-height: 30px;
        font-weight: $font-weight-secondry;
        color: $font-third-clr;
        &::after {
            content: "";
            width: 73px;
            height: 2px;
            background-color: $font-third-clr;
            position: absolute;
            top: 13px;
            left: 125px;
        }
    }
    h1 {
        font-family: $font-family-lora;
        font-size: 40px;
        color: $font-third-clr;
        font-weight: $font-weight-third;
        line-height: 51px;
        margin: 8px 0px 24px 0px;
    }
    p {
        font-size: $font-size-third;
        font-family: $font-family-lato;
        font-weight: $font-weight-secondry;
        line-height: 30px;
        color: $font-third-clr;
        margin: 0;
    }
}