//font family
$font-family-lato: 'Lato',
sans-serif;
$font-family-lora: 'Lora',
serif;
//background color
$btn-background-clr:#FF5722;
$background-primary-clr:#10375C;
$background-secondry-clr:#ffffff;
$background-third-clr:#0D2C4A;
$background-fourth-clr:#DFDFDF;
$background-black-clr:black;
//font color
$main-clr:#FF5722;
$red-clr:#DD2C00;
$font-primary-clr:#9A9A9A;
$font-secondry-clr:#10375C;
$font-third-clr:#FFFFFF;
$font-black-clr:black;
//font size
$font-size-primary: 16px;
$font-size-secondry: 18px;
$font-size-third: 20px;
$font-size-main:32px;
$font-size-fourth:40px;
$font-size-fifth:52px;
//font weight
$font-weight-primary:400;
$font-weight-secondry:500;
$font-weight-third:700;
$width:100%