$font-family-lato: 'Lato',
sans-serif;
$font-family-lora: 'Lora',
serif;
$btn-background-clr:#FF5722;
$background-primary-clr:#10375C;
$main-clr:#FF5722;
$red-clr:#DD2C00;
$font-primary-clr:#9A9A9A;
$font-secondry-clr:#10375C;
$font-third-clr:#FFFFFF;
$font-menuLink-clr:black;
$font-size-primary: 16px;
$font-size-secondry: 18px;
$font-size-third: 20px;
$font-weight-primary:400;
$font-weight-secondry:500;
$font-weight-third:700;
$width:100%