body {
    background-color: rgb(22, 21, 21);
}

#main {
    transform: translateY(5%);
}

.box {
    border-radius: 5px;
}

.box__title {
    background-color: #f0f0f0;
    border-bottom: 1px solid #eee;
    padding: 5px;
}

.box__title h1 {
    font-size: 20px;
}

.box__text {
    border: 1px solid #ddd;
    height: 200px;
}

.col-6:nth-child(n+1) {
    margin-bottom: 10px;
}

.box__title.active+.box__text {
    display: none;
}